<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="@{/posts/create}" th:method="post" th:object = "${posts}">
    <label for="post-id">
        <p>Id</p>
        <input type="text" name="id" id="post-id" class="field" />
    </label>
    <label for="title-id">
        <p>Title</p>
        <input type="text" th:field="*{title}" id="title-id" class="field" />
    </label>
    <label for="body">
        <p>Body</p>
        <textarea type="text" th:field="*{body}" id="body" class="field"></textarea>
    </label>
    <br>
    <button type="submit">submit!</button>
</form>
</body>
</html>